## .NET
bin/
obj/
*.user
*.suo
.vs/
*.userosscache
*.sln.docstates

## Secrets & config
appsettings.Production.json
**/secrets.json
.env

## Build outputs
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!**/packages/build/

## Rider / JetBrains
.idea/
*.sln.iml

## VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## macOS
.DS_Store


**/appsettings*.json

## Angular build output (served by ASP.NET)
Picflow.API/wwwroot/